$headerMarginLeftRight: minmax(40px, 100px);
$containerWidth: 90%;

.header {
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
    height: 239px;
    width: 96%;
    margin: 10px auto 0;

    .headline {
        background: #FED600;
        height: 35px;
        font-size: 1.3rem;


        &__wrapper {
            width: $containerWidth;
            margin: 0 auto;
            height: 35px;
            display: grid;
            justify-items: center;
            align-items: center;
            
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            
            grid-template-areas: "city number time . send contact icons";            
            grid-template-columns: minmax(40px, 132px) minmax(40px, 110px) minmax(140px, 246px) minmax(40px, 272px) minmax(40px, 103px) minmax(82px, 220px);
        }

        .city {
            grid-area: city;
            
            
           justify-self: start;
        }

        .number {
            grid-area: number;
        }

        .time {
            grid-area: time;
        }

        .send {
            grid-area: send;
        }

        .contact {
            grid-area: contact;
        }

        .icons {
            grid-area: icons;
            display: flex;
            justify-content: space-between;
            width: 83px;
            
            justify-self: flex-end;
            
        }

        

    }

    .nav {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 18px;
        
        max-width: 100%;
        overflow: hidden;
        position: relative;


        &__wrapper {
            display: grid;
            text-align: center;
            width: $containerWidth;
            margin: 0 auto;
  
            grid-template-areas:
'logo logo raiting search search search search search search login basket basket'
'promotions about events payment payment my-order my-order purchases blog master-classes master-classes contacts'
'3d-printers 3d-scanners machine-tools robots education dentists gadgets materials po solutions educational-center services';
            grid-template-columns: repeat(12, minmax(97px, 1fr));
            grid-template-rows: 100px 50px 55px;
            align-items: center;
        }

        .logo-wrapper {
            grid-area: logo;
            
            display: grid;
            width: 63px;
            grid-template-columns: minmax(64px, 85px) minmax(140px, 158px);
            font-family: Open Sans;
            font-style: italic;
            font-weight: normal;
            align-items: center;
            text-align: left;
            line-height: 1.8rem;

            .logo-wrapper__description {
                
                
                padding-left: 12px;
                font-size: 1.345rem;
            }
        }

        .raiting {
            grid-area: raiting;
            padding-left: 31px;
            justify-self: start;

            &__img {

                justify-self: center;
                height: 48px;
                width: 100px;
                border: 1px solid #fff;
                box-shadow: 0px 4px 16px rgba(0, 0, 0, .5);
                border-radius: 11px;
                padding: 4px;
                
                max-width: 88px;
            }
        }

        .search {
            grid-area: search;
            align-self: center;
            display: grid;
            grid-template-rows: 4px;
            justify-items: end;
            max-width: 100%;
            margin-left: 61px;

            &__request-text {
                width: 100%;
                height: 44px;
                left: 550px;
                top: 74px;
                padding-left: 10px;

                /* white */
                background: #FFFFFF;
                /* ghost */
                border: 1px solid #BDBDBD;
                box-sizing: border-box;
                border-radius: 4px;

            }

            .btn-find {
                margin-right: 4px;
                width: 75px;
                height: 36px;
                left: 967px;
                top: 78px;
                border: 2px solid #D2001C;
                color: #d2001c;
                background: #fff;
                box-sizing: border-box;
                border-radius: 4px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
                text-align: center;
                transition: all .3s linear;

                &__text {
                    display: block;
                }

                &__img {
                    display: none;
                }
            }
        }

        .btn-login {
            grid-area: login;
            height: 40%;
            background: none;
            border: none;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            margin-left: 31px;
            padding-right: 13px;
            min-width: 70%;
            justify-self: center;
        }

        .btn-basket {
            grid-area: basket;
            height: 40%;
            padding: 0 17px 1px 5px;
            border: none;
            background: #D2001C;
            color: #fff;
            border-radius: 4px;
            -webkit-box-pack: center;
            align-items: center;
            
            width: 100%;
            max-width: 166px;
            justify-self: end;
            display: flex;
            justify-content: center;
            
            &__img{
                padding-right: 11px;
            }
        }


        .promotions{
            justify-self: start;grid-area: promotions;
        }

        .about{
            margin-left: 5px;justify-self: baseline;grid-area: about;
        }
        
        .events{
            display: block;padding-right: 22px;justify-self: end;grid-area: events;
        }
        
        .payment{
            padding-left: 37px;justify-self: start;grid-area: payment;
        }
        
        .my-order{
            max-width: 130px;justify-self: center;grid-area: my-order;
        }
        
        .purchases{
            max-width: 70px;justify-self: center;grid-area: purchases;
        }
        
        .blog{
            justify-self: end;grid-area: blog;
        }
        
        .master-classes{
            max-width: 86px;justify-self: center;grid-area: master-classes;
        }
        
        .contacts{
            justify-self: end;max-width: 65%;grid-area: contacts;
        }
        
        
        .printers{
            justify-self: start;font-size: 1.2rem;grid-area: 3d-printers;
        }
        
        .scanners{
            margin-left: 17px;font-size: 1.2rem;grid-area: 3d-scanners;
        }
        
        .machine-tools{
            justify-self: center;max-width: 59px;/* margin-left: 5px; */font-size: 1.2rem;grid-area: machine-tools;
        }
        
        .robots{
            max-width: 53px;margin-left: 6px;font-size: 1.2rem;grid-area: robots;
        }
        
        .education{
            position: relative;left: -13px;grid-area: education;justify-self: start;
        }
        
        .dentists{
            grid-area: dentists;min-width: 99px;
        }
        
        .gadgets{
            max-width: 65px;margin-left: 27px;grid-area: gadgets;
        }
        
        .materials{
            max-width: 83px;position: relative;right: -13px;grid-area: materials;
        }
        
        .po{
            position: relative;left: 12px;grid-area: po;max-width: 35px;margin-right: 10px;justify-self: center;
        }
        
        .solutions{
            position: relative;left: -14px;max-width: 69px;grid-area: solutions;justify-self: center;
        }
        
        .educational-center{
            position: relative;left: 2px;min-width: 101px;font-size: 1.2rem;grid-area: educational-center;
        }
        
        .services{
            justify-self: end;grid-area: services;max-width: 65%;
        }
    }

}


@media (max-width:1200px) {

    .header {

        .headline__wrapper,
        .nav__wrapper,
        .offers__wrapper {
            width: 95%;
            font-size: 1.1rem;
        }

        .offers .goods__img {
            margin-left: 0px;
        }
    }
}

@media (max-width: 900px) {
    $headerMarginLeftRight: minmax(5px, 30px);

    .header {
        height: 200px;
        transition: height .1s linear;

        .headline {
            grid-template-areas: ". city number time send contact icons .";
            grid-template-columns: $headerMarginLeftRight minmax(49px, 134px) minmax(53px, 125px) minmax(140px, 279px) minmax(40px, 205px) minmax(102px, 174px) minmax(36px, 119px) $headerMarginLeftRight;
            grid-template-columns: minmax(45px, 84px) minmax(123px, 158px);
            grid-column-gap: 9px;
        }

        .nav {
            .logo-wrapper {
                grid-template-rows: 80px;
                grid-template-columns: minmax(45px, 84px) minmax(123px, 158px);
                grid-column-gap: 9px;

                .logo {
                    max-width: 45px;
                }
            }

            &__wrapper {
                grid-template-rows: 80px;
                grid-template-columns: minmax(28px, 188px) minmax(80px, 150px) minmax(80px, 485px) minmax(10px, 15px) minmax(10px, 70px) minmax(10px, 20px) minmax(15px, 160px);

                .raiting {
                    &__img {
                        margin-top: 8px;
                    }
                }

                .search {

                    &__request-text {
                        height: 35px;
                    }

                    .btn-find {
                        height: 26px;
                        width: 30px;

                        &__img {
                            display: block;
                        }

                        &__text {
                            display: none;
                        }
                    }

                    &__request-text,
                    .btn-find {
                        font-size: 1.2rem;
                    }
                }



                .btn {
                    font-size: 1.2rem;
                    justify-content: space-around;
                }

            }
        }

        .offers {

            &__wrapper {
                display: grid;
                grid-template-columns: 45px 1fr;
                margin-top: 15px;


                .offers__list {
                    display: none;
                    height: 50vh;

                    grid-template-areas: "services hr goods";
                    grid-template-rows: 260px;
                    grid-template-columns: 100px 1px 100px;
                    column-gap: 20px;
                    justify-self: center;
                }

                .services {
                    flex-direction: column;
                }

                .goods {
                    font-size: 1.25rem;
                    flex-direction: column;

                    &__img {
                        margin-left: 2px;
                        transform: rotateZ(-90deg);
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .header {
        .headline {
            &__wrapper {
                grid-template-areas: "city number time send contact icons";
                grid-template-columns: minmax(69px, 90px) minmax(70px, 79px) minmax(73px, 231px) minmax(63px, 80px) minmax(103px, 131px) minmax(44px, 98px);

                .icons {
                    width: 40px;

                    &__item {
                        height: 10px;
                    }
                }

            }
        }

        .nav {

            &__wrapper {
                grid-template-areas: 'logo . search . login . basket';
                grid-template-columns: minmax(85px, 142px) 9px minmax(76px, 485px) 9px minmax(10px, 60px) 9px;

                .raiting {
                    display: none;
                }

                .search {
                    .btn-login {
                        max-width: 62px;
                    }

                    .btn-basket {
                        min-width: 90px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    $logoWidth: 40px;

    .header {
        .headline {
            height: 46px;
            display: flex;
            justify-content: center;
            align-items: center;

            &__wrapper {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas:
                    "city send time"
                    "number contact icons";
                justify-items: start;
            }
        }

        .nav {
            &__wrapper {
                grid-template-columns: $logoWidth 9px minmax(76px, 485px) 10px minmax(10px, 60px) 10px 75px;
            }

            .logo-wrapper {
                grid-gap: 0;
                grid-template-columns: $logoWidth;
                width: $logoWidth;

                .logo {
                    max-width: $logoWidth;
                }

                &__description {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .header {
        .nav {
            &__wrapper {
                grid-template-areas:
                    'logo search search search'
                    'offers . login basket';
                grid-template-columns: 57px 1fr 1fr 1fr;
                grid-template-rows: 55px 43px;
                grid-row-gap: 6px;

                .btn-login {
                    justify-content: start;
                    height: 75%;

                    & img {
                        margin-right: 10px;
                    }
                }

                .btn-basket {
                    height: 75%;
                }

                .offers {
                    display: grid;
                    grid-area: offers;

                    &__wrapper {
                        position: relative;
                        margin: 0;
                        grid-template-columns: 40px 1fr;
                    }

                    &__list {
                        position: absolute;
                        top: 60px;
                        left: 20px;
                    }
                }
            }
        }
    }
}

.header .offers .offers__wrapper .menu_show {
    display: grid;
}

.services__item {
    font-family: Open Sans;
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-style: normal;
    font-weight: 100;
    
    cursor: pointer;
}

.hr{
    position: absolute;
    top: 145px;
    left: 0;
    width: 100%;
}