$headerMarginLeftRight: minmax(40px, 100px);
$containerWidth: 90%;

.header {
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
    height: 239px;
    width: 96%;
    margin: 10px auto 0;

    .headline {
        background: #FED600;
        height: 35px;
        font-size: 1.3rem;


        &__wrapper {
            width: $containerWidth;
            margin: 0 auto;
            height: 35px;
            display: grid;
            justify-items: center;
            align-items: center;
            
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            
            grid-template-areas: "city number time . send contact icons";            
            grid-template-columns: minmax(40px, 132px) minmax(40px, 110px) minmax(140px, 246px) minmax(40px, 272px) minmax(40px, 103px) minmax(82px, 220px);
        }

        .city {
            grid-area: city;
            
            
           justify-self: start;
        }

        .number {
            grid-area: number;
        }

        .time {
            grid-area: time;
        }

        .send {
            grid-area: send;
        }

        .contact {
            grid-area: contact;
        }

        .icons {
            grid-area: icons;
            display: flex;
            justify-content: space-between;
            width: 83px;
            
            justify-self: flex-end;
            
        }

        

    }

    .nav {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 18px;
        
        max-width: 100%;
        overflow: hidden;
        position: relative;


        &__wrapper {
            display: grid;
            text-align: center;
            width: $containerWidth;
            margin: 0 auto;
  
            grid-template-areas:
'logo logo raiting search search search search search search login basket basket'
'promotions about events payment payment my-order my-order purchases blog master-classes master-classes contacts'
'3d-printers 3d-scanners machine-tools robots education dentists gadgets materials po solutions educational-center services';
            grid-template-columns: repeat(12, minmax(66px, 1fr));
            grid-template-rows: 100px 50px 55px;
            align-items: center;
        }

        .logo-wrapper {
            grid-area: logo;
            
            display: grid;
            width: 63px;
            grid-template-columns: minmax(64px, 85px) minmax(140px, 158px);
            font-family: Open Sans;
            font-style: italic;
            font-weight: normal;
            align-items: center;
            text-align: left;
            line-height: 1.8rem;

            .logo-wrapper__description {
                
                
                padding-left: 12px;
                font-size: 1.345rem;
            }
        }

        .raiting {
            grid-area: raiting;
            padding-left: 31px;
            justify-self: start;

            &__img {

                justify-self: center;
                height: 48px;
                width: 100px;
                border: 1px solid #fff;
                box-shadow: 0px 4px 16px rgba(0, 0, 0, .5);
                border-radius: 11px;
                padding: 4px;
                
                max-width: 88px;
            }
        }

        .search {
            grid-area: search;
            align-self: center;
            display: grid;
            grid-template-rows: 4px;
            justify-items: end;
            max-width: 100%;
            margin-left: 61px;

            &__request-text {
                width: 100%;
                height: 44px;
                left: 550px;
                top: 74px;
                padding-left: 10px;

                /* white */
                background: #FFFFFF;
                /* ghost */
                border: 1px solid #BDBDBD;
                box-sizing: border-box;
                border-radius: 4px;
                
                &:focus{
                    outline: none;
                }

            }

            .btn-find {
                margin-right: 4px;
                width: 75px;
                height: 36px;
                left: 967px;
                top: 78px;
                border: 2px solid #D2001C;
                color: #d2001c;
                background: #fff;
                box-sizing: border-box;
                border-radius: 4px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
                text-align: center;
                transition: all .3s linear;

                &__text {
                    display: block;
                }

                &__img {
                    display: none;
                }
            }
        }

        .btn-login {
            grid-area: login;
            height: 40%;
            background: none;
            border: none;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            margin-left: 31px;
            padding-right: 13px;
            min-width: 70%;
            justify-self: center;
            
            &__img{
                margin-right: 14px;
            }
        }

        .btn-basket {
            grid-area: basket;
            height: 40%;
            padding: 0 17px 1px 5px;
            border: none;
            background: #D2001C;
            color: #fff;
            border-radius: 4px;
            -webkit-box-pack: center;
            align-items: center;
            
            width: 100%;
            max-width: 166px;
            justify-self: end;
            display: flex;
            justify-content: center;
            
            &__img{
                padding-right: 11px;
            }
        }


        .promotions{
            justify-self: start;grid-area: promotions;
        }

        .about{
            margin-left: 5px;justify-self: baseline;grid-area: about;
        }
        
        .events{
            display: block;padding-right: 22px;justify-self: end;grid-area: events;
        }
        
        .payment{
            padding-left: 37px;justify-self: start;grid-area: payment;
        }
        
        .my-order{
            max-width: 130px;justify-self: center;grid-area: my-order;
        }
        
        .purchases{
            max-width: 70px;justify-self: center;grid-area: purchases;
        }
        
        .blog{
            justify-self: end;grid-area: blog;
        }
        
        .master-classes{
            max-width: 86px;justify-self: center;grid-area: master-classes;
        }
        
        .contacts{
            justify-self: end;max-width: 65%;grid-area: contacts;
        }
        
        
        .printers{
            justify-self: start;font-size: 1.2rem;grid-area: 3d-printers;
        }
        
        .scanners{
            margin-left: 17px;font-size: 1.2rem;grid-area: 3d-scanners;
        }
        
        .machine-tools{
            justify-self: center;max-width: 59px;/* margin-left: 5px; */font-size: 1.2rem;grid-area: machine-tools;
        }
        
        .robots{
            max-width: 53px;margin-left: 6px;font-size: 1.2rem;grid-area: robots;
        }
        
        .education{
            position: relative;left: -13px;grid-area: education;justify-self: start;
        }
        
        .dentists{
            grid-area: dentists;min-width: 101px;
        }
        
        .gadgets{
            max-width: 65px;margin-left: 27px;grid-area: gadgets;
        }
        
        .materials{
            max-width: 83px;position: relative;right: -13px;grid-area: materials;
        }
        
        .po{
            position: relative;left: 12px;grid-area: po;max-width: 35px;margin-right: 10px;justify-self: center;
        }
        
        .solutions{
            position: relative;left: -14px;max-width: 69px;grid-area: solutions;justify-self: center;
        }
        
        .educational-center{
            position: relative;left: 2px;min-width: 101px;font-size: 1.2rem;grid-area: educational-center;
        }
        
        .services{
            justify-self: end;grid-area: services;max-width: 65%;
        }
    }

}


@media (max-width:1200px) {

    .header {

        .headline__wrapper,
        .nav__wrapper,
        .offers__wrapper {
            width: 95%;
            font-size: 1.1rem;
        }

        .nav{
            &__wrapper{
                grid-template-columns: repeat(12, minmax(66px, 1fr));
                
                .search{
            margin-left: 96px;
            
            &__request-text{
                font-size: 1.1rem;
            }
        }
        
        .btn-find{
            font-size: 1.1rem;
            max-width: 62px;
        }
        
        .raiting{
            padding-left: 54px;
            justify-self: start;
        }
        
        .btn-login{
            
            font-size: 1.1rem;
            margin-left: 25px;
            padding-right: 7px;
            max-width: 81px;
            
            &__img{
                margin-right: 7px;
            }
        }
        
        .btn-basket{
            padding: 0 7px 1px 5px;
            max-width: 114px;
            font-size: 1.1rem;
            
            
            &__img{
                padding-right: 5px;
            }
        }
        
        .promotions{
            font-size: 1.1rem;
            padding-left: 2px;
            justify-self: start;
        }
        
        .about{
            font-size: 1.1rem;
        }
        
        .events{
            font-size: 1.1rem;
        }
        
        .payment{
            font-size: 1.1rem;
        }
        
        .my-order{
            font-size: 1.1rem;
        }
        
        .purchases{
            font-size: 1.1rem;
        }
        
        .blog{
            font-size: 1.1rem;
        }
        
        .master-classes{
            font-size: 1.1rem;
        }
        
        .contacts{
            font-size: 1.1rem;
        }
        
        .printers{
            font-size: 1.05rem;
            min-width: 70px;
            max-width: 123px;
            width: auto;
            justify-self: self-start;
            
            img{
                width: 8px;
            }
        }
        
        .scanners{
            font-size: 1.05rem;
            margin-left: 20px;
            min-width: 72px;
        }
        
        .machine-tools{
            font-size: 1.05rem;
            margin-left: 43px;
            min-width: 50px;
        }
        
        .robots{
            font-size: 1.05rem;
            margin-left: 27px;
            min-width: 44px;
        }
        
        .education{
            font-size: 1.05rem;
            left: 21px;
            min-width: 63px;
        }
        
        .dentists{
            min-width: 83px;
            left: 30px;
            position: relative;
            font-size: 1.05rem;
        }
        
        .gadgets{        
            font-size: 1.05rem;
            left: 42px;
            max-width: 58px;
            position: relative;
            margin: 0;
        }
        
        .materials{          
            font-size: 1.05rem;
            max-width: 71px;
            right: -37px;
        }
        
        .po{ 
            font-size: 1.05rem;
            margin: 0;
            position: relative;
            left: 20px;
        }
        
        .solutions{
            font-size: 1.05rem;
            left: 1px;
        }
        
        .educational-center{
            position: relative;
            min-width: 88px;
            left: 9px;
            font-size: 1.05rem;
        }
        
        .services{
            font-size: 1.05rem;
            position: relative;
            left: 0px;
        }
            }
        }
        
        
    }
}

@media (max-width: 900px) {
    $headerMarginLeftRight: minmax(5px, 30px);

    .header {
        height: 200px;
        transition: height .1s linear;

        .headline {
            grid-template-areas: ". city number time send contact icons .";
            grid-template-columns: $headerMarginLeftRight minmax(49px, 134px) minmax(53px, 125px) minmax(140px, 279px) minmax(40px, 205px) minmax(102px, 174px) minmax(36px, 119px) $headerMarginLeftRight;
            grid-template-columns: minmax(45px, 84px) minmax(123px, 158px);
            grid-column-gap: 9px;
        }

        .nav {
            .logo-wrapper {
                grid-template-rows: 80px;
                grid-template-columns: minmax(41px, 61px) minmax(103px, 148px);
                grid-gap: 5px;

                .logo {
                    max-width: 40px;
                }
            }

            &__wrapper {        
                grid-template-columns: repeat(12, minmax(49px, 1fr));
                grid-template-areas:
'logo logo raiting raiting search search search search login  login basket basket'
'promotions about events payment payment my-order my-order purchases blog master-classes master-classes contacts'
'3d-printers 3d-scanners machine-tools robots education dentists gadgets materials po solutions educational-center services';
                grid-template-rows: 80px 30px 30px;

                .raiting {
                    padding-left: 37px;
                    justify-self: start;
                    
                    &__img {
                        margin-top: 8px;
                    }
                }

                .search {
                    margin-left: 34px;
                    max-width: 232px;
                    
                    
                    &__request-text {
                        height: 35px;
                        font-size: 1.1rem;
                    }

                    .btn-find {
                        height: 26px;
                        width: 30px;

                        font-size: 1.1rem;
                        max-width: 62px;
                        
                        &__img {
                            display: block;
                        }

                        &__text {
                            display: none;
                        }
                    }

                    &__request-text,
                    .btn-find {
                        font-size: 1.2rem;
                    }
                }

                .btn-login{
                    font-size: 1.1rem;
                    margin-left: 24px;
                    padding-right: 21px;
                    max-width: 30px;
                }
                
                .btn-basket{
                    padding: 0 7px 1px 5px;
                    max-width: 114px;
                    font-size: 1.1rem;
                    
                    &__img{
                        padding-right: 5px;
                    }
                }

                .btn {
                    font-size: 1.2rem;
                    justify-content: space-around;
                }
                
                .promotions{
                    font-size: 1.1rem;
                    padding-left: 2px;
                    justify-self: start;
                }
                
                .nav__menu-item{
                    font-size: 1.1rem;
                }
                
                .nav__offers-item{
                    font-size: 1.05rem;
                }
                
                .printers{
                    min-width: 65px;
                    max-width: 123px;
                    width: auto;
                    justify-self: self-start;
                    
                    img{
                        width: 8px;
                    }
                }
                
                .scanners{
                    margin-left: 9px;
                    min-width: 65px;
                }
                
                .machine-tools{
                    margin-left: 23px;
                    min-width: 44px;
                }
                
                .robots{
                    margin-left: 4px;
                    min-width: 44px;
                }
                
                .education{
                    left: -1px;
                    min-width: 63px;
                }
                
                .dentists{
                    min-width: 70px;
                    left: 9px;
                    position: relative;
                }
                
                .gadgets{
                    left: 28px;
                    max-width: 51px;
                    position: relative;
                    margin: 0;
                }
                
                .materials{
                    max-width: 71px;
                    right: -26px;
                }
                
                .po{
                    margin: 0;
                    position: relative;
                    left: 16px;
                }
                
                .solutions{
                    left: 1px;
                }
                
                .educational-center{
                    position: relative;
                    min-width: 78px;
                    left: -2px;
                }
                
                .services{
                    position: relative;
                    left: -1px;
                    max-width: 82px;
                }
                
            }
        }

        .offers {

            &__wrapper {
                display: grid;
                grid-template-columns: 45px 1fr;
                margin-top: 15px;


                .offers__list {
                    display: none;
                    height: 50vh;

                    grid-template-areas: "services hr goods";
                    grid-template-rows: 260px;
                    grid-template-columns: 100px 1px 100px;
                    column-gap: 20px;
                    justify-self: center;
                }

                .services {
                    flex-direction: column;
                }

                .goods {
                    font-size: 1.25rem;
                    flex-direction: column;

                    &__img {
                        margin-left: 2px;
                        transform: rotateZ(-90deg);
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .header {
        height: 140px;
        overflow: hidden;
        
        .headline {
            &__wrapper {
                grid-template-areas: "city number time send contact icons";
                grid-template-columns: minmax(69px, 90px) minmax(70px, 79px) minmax(73px, 231px) minmax(63px, 80px) minmax(103px, 131px) minmax(44px, 98px);

                .icons {
                    width: 40px;

                    &__item {
                        height: 10px;
                    }
                }

            }
        }

        .nav {

            &__wrapper {
                grid-template-columns: repeat(6, minmax(15px, 134px));
            grid-template-areas:
                "logo . search search search search"
                "burger . . . login basket"
                ". . . . . ."
                "promotions about events . payment payment"
                "my-order purchases  blog . master-classes contacts"
                "printers scanners machine-tools robots education dentists"
                "gadgets materials po solutions educational-center services";
            grid-template-rows: 60px 35px 7px 34px 34px 34px 34px;
                
                .btn-login{
                    height: 27px;
                    padding-right: 18px;
                    padding-left: 11px;
                    margin-right: 5px;
                    margin-left: 11px;
                }
                
                .btn-basket{
                    height: 27px;
                }
                
                .raiting {
                    display: none;
                }
                
                .burger{
                    grid-area: burger;
                    height: 35px;
                    width: 37px;
                    display: block;
                    
                    .line2{
                        top: 42%;
                    }
                }
                
                .logo-wrapper{
                    grid-template-columns: minmax(41px, 61px);
                    
                    &__description{
                        display: none;
                    }
                }

                .search {
                    margin-left: 0;
                    max-width: 577px;
                    
                    .btn-login {
                        max-width: 62px;
                        margin-left: 9px;
                        padding-right: 8px;
                        padding-left: 4px;
                        height: 30px;
                        justify-self: start;
                        
                        &__img{
                            margin-right: 4px;
                        }
                    }

                    .btn-basket {
                        min-width: 90px;
                        max-width: 103px;
                        height: 30px;
                        
                        &__img{
                            padding-right: 2px;
                        }
                    }
                    
                    
                    
                }
                
                .about{
                        margin-left: 6px;
                    }
                    
                .events{
                        justify-self: end;
                        padding: 0;
                        position: relative;
                        left: 29px;
                    }
                    
                .payment{
                    justify-self: end;
                }
                 
                .my-order{
                    justify-self: start;
                }
                    
                .purchases{
                    justify-self: start;
                    margin-left: 4px;
                }
                    
                .blog{
                    justify-self: center;
                }
                    
                .master-classes{
                     justify-self: center;
                }
                    
                .printers{
                     position: relative;
                     left: -2px;
                     grid-area: printers;
                }
                    
                .scanners{
                    grid-area: scanners;
                     margin-left: 0;
                     justify-self: start;
                }
                    
                .robots{
                     justify-self: center;
                }
                    
                .education{
                    justify-self: center;
                }
                    
                .dentists{
                    max-width: 90px;
                    left: 0;
                    justify-self: end;
                }
                    
                .gadgets{
                    justify-self: start;
                    max-width: 71px;
                    left: 0;
                }
                    
                .materials{
                    right: -2px;
                    max-width: 62px;
                }
                    
                .po{
                    left: 5px;
                    justify-self: center;
                }
            }
            
            .hr{
                top: 163px;
            }
            
        }
    }
    
    .menu_show{
        height: 280px;
    }
}

@media (max-width: 530px) {
    $logoWidth: 40px;
    
    .header{
        height: 140px;
        
        .headline {
            height: 46px;
            display: flex;
            justify-content: center;
            align-items: center;

            &__wrapper {
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas:
                        "city send time"
                        "number contact icons";
                    justify-items: start;
            }
        }
        
        .nav{
            
            &__wrapper{
                grid-template-columns: repeat(3, minmax(15px, 193px));
                grid-template-areas:
                    "logo search search"
                    "burger login basket"
                    ". . ."
                    "promotions . printers"
                    "about . scanners"
                    "events . machine-tools"
                    "payment . robots"
                    "my-order . education"
                    "purchases . dentists"
                    "blog .  gadgets"
                    "master-classes  . materials"
                    "contacts . po"
                    ". . solutions"
                    ". . educational-center"
                    ". . services";
                grid-template-rows: 60px 30px 14px 20px 20px 20px 20px 20px  20px 20px;
                grid-row-gap: 1px;
                
                
                .logo-wrapper {
                    grid-gap: 0;
                    grid-template-columns: $logoWidth;
                    width: $logoWidth;

                .logo {
                        max-width: $logoWidth;
                    }

                &__description {
                        display: none;
                    }
                }
                
                .btn-login{
                    height: 27px;
                    padding-right: 0;
                    padding-left: 0px;
                    margin-right: 36px;
                    margin-left: 11px;
                }
                
                .btn-basket{
                    padding-left: 7px;
                    padding-right: 5px;
                }
                
                .promotions{
                    padding-left: 0;
                }
                
                .about{
                    margin: 0;
                }
                
                .events{
                    justify-self: start;
                    left: 0;
                }
                
                .payment{
                    justify-self: start;
                    padding: 0;
                }
                
                .purchases{
                    margin-left: 0;
                }
                
                .blog{
                    justify-self: start;
                }
                
                .master-classes{
                    justify-self: start;
                }
                
                .contacts{
                    justify-self: start;
                }
                
                
                .printers{
                    justify-self: end;
                }
                
                .scanners{
                    justify-self: end;
                }
                
                .machine-tools{
                    justify-self: end;
                    margin: 0;
                    min-width: 50px;
                }
                
                .robots{
                    justify-self: end;
                    margin: 0;
                    min-width: 48px;
                }
                
                .education{
                    justify-self: end;
                    min-width: 61px;
                    margin-right: 2px;
                }
                
                .dentists{
                    margin-right: 2px;
                }
                
                .gadgets{
                    justify-self: end;
                    margin-right: 4px;
                }
                
                .materials{
                    justify-self: end;
                    margin-right: 6px;
                }
                
                .po{
                    justify-self: end;
                    margin-right: 10px;
                }
                
                .solutions{
                    justify-self: end;
                    margin-right: 6px;
                }
                
                .educational-center{
                    justify-self: end;
                    left: 0;
                    min-width: 66px;
                    margin-right: 5px;
                }
                
                .services{
                    margin-right: 4px;
                }
            }
        }
    
        
    }
    
    .menu_show{
            height: 400px; 
        }
    
    .hr{
        display: none;
    }
}

@media (max-width: 350px) {
    .header {
        height: 150px;
        
        .headline{
            &__wrapper{
                font-size: 1rem;
            }
        }
    }
    
    .menu_show{
        height: 415px;
    }
}

.nav__menu-item {
    font-family: Open Sans;
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-style: normal;
    font-weight: 100;
    
    cursor: pointer;
}

.hr{
    position: absolute;
    top: 145px;
    left: 0;
    width: 100%;
}