@import "header";
@import "top-3d-shop";
@import "better-to-see";

html,
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
}


.videos-about-us {
    width: 96%;
    height: 500px;
    margin: 0 auto 125px;
    background: #f9f9f9;
    display: grid;
    grid-template-areas: '. content .';
    grid-template-columns: 8% 84% 8%;


    &__wrapper {
        grid-area: content;
        display: grid;
        grid-template-rows: 103px 286px;
        grid-template-areas:
            'header . . . slider-arrows-wrapper'
            'slider slider slider slider slider';
    }

    &__header {
        grid-area: header;
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: normal;
        font-size: 3rem;
        line-height: 4.3rem;
        /* identical to box height */
        margin: 0;
        align-self: center;
        justify-self: center;
    }

    .slider {

        grid-area: slider;
        display: flex;
        justify-content: space-between;

        &__arrows-wrapper {
            grid-area: slider-arrows-wrapper;
            height: 26px;
            width: 80px;
            display: flex;
            justify-content: space-around;
            justify-self: end;
            align-self: center;
        }

        &__arrow {
            padding: 6px 0;
            width: 50%;
            border: 1px solid #e5e5e5;
            border-radius: 8px 0px 0 8px;
            cursor: pointer;
        }


    }

    .arrow-right {
        transform: rotateZ(180deg);
    }

    .video {
        width: 47%;
    }

    .first-video {
        grid-area: first-video;
    }

    .second-video {
        grid-area: second-video;
    }
}

.color_red {
    color: #f00;
}

.link {
    cursor: pointer;
}

.btn {
    background: #D2001C;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}




@media (max-width: 1000px) {

    html,
    body {
        font-size: 8px;
    }

    .videos-about-us {
        &__header {
            font-size: 2.8rem;
        }
    }

}



.burger {
    display: none;
    cursor: pointer;
    position: relative;
    background: #d50101;
    height: 45px;
    width: 45px;
    border-radius: 7px;
    transition: all .25s linear;

    &__line {
        position: absolute;
        background: #fff;
        width: 85%;
        height: 5px;
        border-radius: 10px;
        right: 7%;
        transition: all .4s linear;
    }

    .line1 {
        top: 13%;
    }

    .line2 {
        top: 40%;
    }

    .line3 {
        top: 70%;
    }
}

.burger_close {

    .line1,
    .line2 {
        top: 45%;
        transform: rotate(45deg);
    }

    .line3 {
        top: 45%;
        transform: rotate(-45deg);
    }
}

